/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 10px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url(./resources/brick.jpg);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {margin: 0; height: 100%; overflow: hidden}

.banner {
    background-color: #091425;
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0%;
    height: 30px;
}
.bannerText {
    position: relative;
    left: 0%;
    height: 25px;
    width: auto;
}
.stageText {
    color: white;
    position: absolute;
    left: 46.3%;
    top: 50px;
    height: 25px;
    width: auto;
    font-size: x-large;
    text-shadow: 0 0 4px #000000, 0 0 6px #000000;
}
.introScreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.98);
    border: thin solid rgb(0, 0, 0);
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: 5;
}
.introBox {
    position: relative;
    height: 630px;
    width: 800px;
    background-image: url(./resources/introImage.jpg);
    left: 535px;
    top: 100px;
    overflow: hidden;
}
.introText {
    position: relative;
    color: white;
    font-size: xx-large;
    text-shadow: 0 0 4px #000000, 0 0 6px #000000;
    width: 80%;
    text-align: center;
    word-spacing: normal;
    line-height: 2.8;
    left: 8%;
}
.introButton {
    position: absolute;
    color: white;
    background-color: #dd6a77;
    height: 50px;
    width: 500px;
    z-index: 5;
    bottom: 160px;
    left: 700px;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 662px;
    position: relative;
    top: 78px;
    /* border: thin solid rgb(117, 117, 117); */
    background-repeat: no-repeat;
    background-size: cover;
    outline: 6px solid #091425;
}

.pokeHeader {
    z-index: 1;
    width: 1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    /* border: thin solid rgb(104, 104, 104); */
    position: relative;
    top: 0px;
}
#name {
    position: relative;
    top: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: xx-large;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.healthDiv{
    position: relative;
    right: 80px;
    top: 10px;
    display: flex;
    flex-wrap: nowrap;
}
#hp {
    position: relative;
    top: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.healthBar {
    position: relative;
    left: 50%;
    top: 50%;
    background: green;
    border: thin solid white;
}

.enemyPoke {
    position: relative;
    top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    z-index: 2;
    /* border: thin solid rgb(119, 119, 119); */
    -webkit-user-drag: none;
    -webkit-user-select: none;
    
}
.platform {
    width: 800px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    position: relative;
    right: 3px;
    top: 10px;
    height: 250px;
    width: auto;
    border: thin solid white;
}
.inventory {
    position: absolute;
    right: 0%;
    top: 13%;
    height: 600px;
    width:250px;
    background-color: #091425;
    border: thin solid white;
}
.shop {
    position: absolute;
    right: 20;
    top: 12.77%;
    height: 600px;
    width: 250px;
    background-color: #091425;
    border: thin solid white;
    z-index: 5;
}
.shopButton {
    position: absolute;
    top: 0%;
    left: 271px;
    height: 70px;
    width: 70px;
    outline: thin solid white;
    background-color: #314151;
    color: white;
}
.shopHeader {
    position: absolute;
    height: 50px;
    width: 250px;
    left: 0%;
    top: 0%;
    text-align: center;
    color: white;
    font-size: xx-large;
    border: thin dotted white;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
}
.shopDiv {
    position: absolute;
    height: 50px;
    width: 250px;
    left: 0%;
    color: white;
    font-size: large;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
    top: 100px;
    vertical-align: auto;
    text-align: center;
}
.gachaButton {
    position: relative;
    height: 150px;
    width: auto;
    top: 150px;
    left: 40px;
}
.gachaPrice {
    position: absolute;
    left: 0%;    
    color: white;
    width: 250px;
    text-align: center;
    top: 320px;
    font-size: large;
}
.hidden {
    visibility: hidden;
}
.menuContainer {
    border: thin solid rgb(255, 255, 255);
    background-color: #091425;
    height: 600px;
    width: 250px;
    position: relative;
    bottom: 580px;
    z-index: 2;
}
.menuHeader {
    text-align: center;
    color: white;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
    font-size: xx-large;
}
.menuDiv {
    display: flex;
    flex-wrap: nowrap;
    width: 250px;
    position: relative;
    border: thin dotted white;
    right: 20px;
}
.menuText {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    position: relative;
    color: white;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
    font-size: large;
}
.menuValue {
    position: absolute;
    left: 140px;
    color: white;
    text-shadow: 0 0 3px #000000, 0 0 5px #0000FF;
    font-weight: bold;
    font-size: larger;
}
.upgradeButton {
    position: absolute;
    left: 210px;
    top: 10px;
    height: 40px;
    width: 40px;
    background-color: #314151;
    color: white;
}

/*//////////////////////////////////////////////////////////ANIMATIONS/////*/
@keyframes shake{
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }
   }


  
  #scroll-text {
    height: 100%;
    text-align: center;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 50s linear;
    -webkit-animation: my-animation 50s linear;
    animation: my-animation 50s linear;
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-300%); }
  }